aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.11.3
amqp==5.1.1
APScheduler==3.10.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
billiard==4.1.0
blinker==1.6.2
celery==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
distlib==0.3.7
Django==4.2.4
filelock==3.12.2
Flask==2.3.2
Flask-APScheduler==1.12.4
Flask-Cors==4.0.0
Flask-Migrate==4.0.4
Flask-Script==2.0.6
Flask-SQLAlchemy==3.0.5
frozenlist==1.4.0
gunicorn==21.2.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.3.1
Mako==1.2.4
MarkupSafe==2.1.3
multidict==6.0.4
packaging==23.1
pipenv==2023.7.23
platformdirs==3.10.0
prompt-toolkit==3.0.39
psycopg2==2.9.7
PyJWT==2.8.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
six==1.16.0
SQLAlchemy==2.0.19
sqlparse==0.4.4
tgtg==0.16.0
twilio==8.5.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.4
vine==5.0.0
virtualenv==20.24.3
virtualenv-clone==0.5.7
wcwidth==0.2.6
Werkzeug==2.3.6
yarl==1.9.2
zipp==3.16.2
